<div class="aboutus-container">
    <p class="title-info-pages">Customer service</p>
</div>

<div id="accordion" class="mx-auto text-center">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                    <img src="../static/exampleimages/orders.png" alt="Orders icon">Orders
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <b>How can I track my order?</b><br>
                <small>You will receive an email with a tracking link as soon as your order leaves our warehouse. Just
                    double
                    check to make sure it didn't land in your junk folder, as emails sometimes end up there by
                    accident.</small><br>
                <br>
                <b>Can I cancel or modify my order after it has been placed?</b><br>
                <small>If you need to cancel or modify your order, please contact our customer service team as soon as
                    possible. If your poster has not yet been printed, we may be able to make changes or cancel the
                    order.</small>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <img src="../static/exampleimages/shipping.png" alt="Shipping icon">Shipping
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <b>How long will delivery take?</b><br>
                <small>Shipping is normally 3-5 business days.</small><br>
                <br>
                <b>Do you ship to countries outside of Sweden?</b><br>
                <small>No, at the moment we only ship within Sweden.</small><br>
                <br>
                <b>What is the cost of shipping?</b><br>
                <small>Shipping is free!<br></small>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    <img src="../static/exampleimages/returns.png" alt="Returns icon">Returns
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <b>Can I return my order?</b><br>
                <small>Since our posters are personalized, we do not accept returns or offer refunds unless the product
                    arrives damaged or defective. If this happens, please contact us within 7 days of receiving your
                    poster to arrange a return or exchange.</small>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    <img src="../static/exampleimages/paymeny.png" alt="Payment icon">Payment
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <b>What forms of payment do you accept?</b><br>
                <small>We use the online payment processing platform Stripe. <a
                        href="https://stripe.com/docs/payments/payment-methods/overview">Click here</a> to read more
                    about this and what types of payments that are accepted.</small>
            </div>
        </div>
    </div>
</div>

<div class="paragraph-info-pages text-placement">
    <p>Can't find the answer you were looking for?</p>

    <button type="purple-button text-center" class="btn btn-secondary text-font" id="contact-us-btn"
        data-toggle="popover" onclick="sendEmail()">Contact us</button>

</div>