<link rel="stylesheet" href="layout/gallerypage.css">

<div class="container-fluid text-center gallerypage-container">

    <p class="gallery-text" id="gallery-header-text">Inspiration gallery</p>

    <p class="gallery-text" id="gallery-body-text">Not sure what you are looking for?<br>
        Hover over some of our previous customers’ creations to find out what their prompt was!</p>

    <div class="gallery-img-container">

        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/3D render of a small pink balloon dog in a light pink room.png"></img>
            <div class="middle">
                <p class="prompt-text">3D render of a small pink balloon dog in a light pink room</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/a fortune-telling shiba inu reading your fate in a giant hamburger, digital art.png"></img>
            <div class="middle">
                <p class="prompt-text">a fortune-telling shiba inu reading your fate in a giant hamburger, digital art</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/a giraffe with zebra stripes on a bicycle in space, digital art.png"></img>
            <div class="middle">
                <p class="prompt-text">a giraffe with zebra stripes on a bicycle in space, digital art</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/a golden retriver holding a bouquet of flowers, digital art.png"></img>
            <div class="middle">
                <p class="prompt-text">a golden retriver holding a bouquet of flowers, digital art</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/a painting of a fox in the style of Starry Night.png"></img>
            <div class="middle">
                <p class="prompt-text">a painting of a fox in the style of Starry Night</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/a pink giraffe riding a bicycle in the rain.png"></img>
            <div class="middle">
                <p class="prompt-text">a pink giraffe riding a bicycle in the rain</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/a stained glass window depicting a robot.png"></img>
            <div class="middle">
                <p class="prompt-text">a stained glass window depicting a robot</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/an astronaut playing basketball with cats in space, digital art.png"></img>
            <div class="middle">
                <p class="prompt-text">an astronaut playing basketball with cats in space, digital art</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/an expressive oil painting of a basketball player dunking, depicted as an explosion of a nebula.png"></img>
            <div class="middle">
                <p class="prompt-text">an expressive oil painting of a basketball player dunking, depicted as an explosion of a nebula</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/an impressionist oil painting of a flower.png"></img>
            <div class="middle">
                <p class="prompt-text">an impressionist oil painting of a flower</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/an oil pastel drawing of an annoyed cat in a spaceship.png"></img>
            <div class="middle">
                <p class="prompt-text">an oil pastel drawing of an annoyed cat in a spaceship</p>
            </div>
        </div>
        <div class="img_wrap">
            <img class="gallery-img" src="../static/inspirationgallery/a stern-looking owl dressed as a librarian, digital art.png"></img>
            <div class="middle">
                <p class="prompt-text">a stern-looking owl dressed as a librarian, digital art</p>
            </div>
        </div>        
    </div>

    <button type="purple-button text-center" class="btn btn-secondary text-font" id="start-creating-btn"
        data-toggle="popover" onclick="startCreating()">start creating</button>


</div>