<div class="hiw-container text-center">
    <div>
        <img src="../static/exampleimages/wave-big.png" id="wave-big">
        <img src="../static/exampleimages/wave-small.png" id="wave-small">
        <img src="../static/exampleimages/customizeposterpreview.png" id="customizeposterpreview">
    </div>
    <div class="hiw-text">
        <div class="row m-0">
            <div class="col text-center">
                <h4 class="text-font">1. Generate a design</h4>
                <p class="text-font">Create your own design with inputing prompts.
                    The AI will then generate a unique design from your ideas.
                    Pick out one of the four generated artworks.</p>
            </div>
            <div class="col text-center">
                <h4 class="text-font">2. Customize your poster</h4>
                <p class="text-font">Play around with different sizes, frames, margins and text
                    combinations of your picked poster. Make it yours!</p>
            </div>
            <div class="col text-center">
                <h4 class="text-font">3. Order and share</h4>
                <p class="text-font">Complete your order by putting it in the cart and
                    then fill out the neccessary fields and yout order will arrive within 3-5 days.</p>
            </div>
        </div>
        <div class="row m-0 justify-content-center">
            <button type="purple-button text-center" class="btn btn-secondary text-font" id="start-creat-button"
                data-toggle="popover" onclick="startCreating()">
                start creating</button>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="htwagp-container text-center text-font">
            <h4>How to write a prompt </h4>
            <br>
            <p>To write a good text-to-image prompt,
                it’s recommended to be clear with the main idea and to define the details
                and styles you want to replicate. A prompt with at least 3 to 7 words is ideal,
                as it provides the AI with a clear context.
                <br>
                Be sure to include adjectives to infuse multiple feelings into the artwork,
                as well as style keywords in order to achieve the desired overall mood.
                Down below is a list of adjectives and styles that might help spark your creativity!
                <br>
                Examples of adjectives: conceptual, realistic, complex, colourful
                <br>
                Examples of style keywords: surrealism, digital art, fantasy, modern, minimal, pixel art
            </p>
        </div>
    </div>
</div>