<div class="aboutus-container">
    <p class="title-info-pages">Terms and conditions</p>
</div>

<div class="paragraph-info-pages text-placement-left">
    <p>1. General</p>
    <p>1.1</p>
    <p>These general terms and conditions (the “General Conditions”) apply when you as a consumer
        (the “Customer”) place an order using www.posteraized.com and all of its related pages,
        (the “Website”). The agreement is a contract concluded between you and Posteraized. Detailed
        contact information and other information about Posteraized is shown on the Website. The General
        Conditions are applicable for Customers that are consumers.</p>
    <p>1.2</p>
    <p>The Customer must be a minimum of 18 years old to place an order via the Website. Posteraized does
        not, in accordance with the Swedish law, accept any credit purchases from persons below the age of
        18 years. Posteraized reserves the right to deny or makes changes to a Customer’s order (e.g. if
        the Customer has provided inaccurate personal data and/or has any record or indication for
        non-payment of debt).</p>
    <p>1.3</p>
    <p> Posteraized shall not be liable in case products are sold out, nor in the case of image or
        typographical errors on the Website, e.g. errors in the product description or other technical
        specifications, inaccurate prices and price adjustments (for example changed prices from suppliers,
        or changes in currencies) or incorrect information as to whether a product is in stock. Posteraized
        is entitled to rectify such errors and, at any time, to change or update all relating information.
        In case an inaccurate price has been stated for a product ordered by the Customer, Posteraized will
        naturally notify the Customer immediately and await the Customer’s approval of the changed price
        prior to Posteraized's continuation of the order process. All images on our Website shall be
        considered solely as illustrations. Such illustrations do not guarantee to reproduce the exact
        appearance, function or origin of the product. Posteraized is not responsible for any information
        provided by third parties on the Website.</p>
    <p>1.4</p>
    <p>Website and all of its content is owned by Posteraized or its licensors. All information is protected
        by intellectual property and also marketing legislation. This means that trademarks, product names, company
        names,
        designs, images and graphics, layout and information about products, services and all other content may not be
        copied or used, without the prior written consent of Posteraized.</p>

    <p>2. Contracts and orders</p>

    <p>2.1</p>
    <p>be able to place an order using the Website, the Customer has to accept the General Conditions. By accepting
        these
        General Conditions, the Customer undertakes to comply with all of the General Conditions in its entirety and
        also
        acknowledges that he/she has read all the information on personal data and cookies and also consents to the use
        according
        to Posteraized’s Privacy Policy set forth here.</p>

    <p>2.2</p>
    <p>A purchase agreement is concluded when Posteraized has confirmed the Customer’s order. This is done when the
        Customer has
        received an order confirmation from Posteraized via e-mail. Posteraized encourages the Customer to always save
        the order
        confirmation in case of any future contacts with Posteraized’s customer service regarding the order. The
        Customer has the
        right to cancel its order up until the time when it has been confirmed by Posteraized. If the order is
        cancelled, Posteraized
        will refund all payments the Customer or its pay- or credit card company has made as payment for the order. </p>

    <p>3. Customer information</p>

    <p>3.1</p>
    <p>When the Customer places an order, the Customer will be asked to provide some personal information. The Customer
        confirms
        that the information provided in its entirety is correct and complete and The Customer is responsible for any
        errors in
        this information provided. Information about Posteraized’s processing of personal data is stated in
        Posteraized’s Privacy
        Policy, which constitutes a central part of these General Conditions.</p>

    <p>4. Shipping and delivery</p>

    <p>4.1</p>
    <p> Products that are in stock are normally delivered within the number of working days indicated on the Website.
        Unless
        otherwise agreed (for example in connection with reservation of products not in stock), the delivery will be
        made no later
        than 30 working days after Posteraized confirms the order in writing through the order confirmation e-mail. Any
        further
        information about Posteraized’s delivery of any products and the conditions for delivery are set forth here. If
        you haven't
        received your order within the delivery time advertised, please first check if you have provided us with the
        correct
        information. If you have provided correct information, contact our Customer Service no longer than 30 working
        days after
        the order was placed and we will help you.</p>
 
    <p>4.2</p>
    <p>The expected delivery time is described in the order confirmation and also Shipping page on the Website. Unless
        otherwise
        exclusively agreed, and if a delivery is delayed for a longer period than 30 working days and it is not due to
        you as
        Customer, you have the right to cancel the purchase.</p>

    <p>4.3</p>
    <p>If any package needs to be picked up at a specific delivery point, the Customer shall do this within the time
        limit provided
        in the notification. Packages normally have to be retrieved personally with valid identification and the order
        number. The
        Customer will receive a notification of delivery stating when and where the package can be picked-up or
        received. The
        notification may be sent by email, ordinary mail and if the Customer has provided a mobile number, also by phone
        or text. </p>

</div>